@CHARSET "UTF-8";
/*Arrumando o tamanho da fonte do menu*/
.ui-widget, .ui-widget .ui-widget{
    font-size:100% !important;
}


/*Ideias Pendentes e Ativas ***** Propostas tbm*/
.aprovado{
    color: green!important;
}
.recusado{
    color: red!important;
}
.em_analise{
    color: blue!important;
}

/* RELATORIOS e ENCONTROS */
.enviado_naovisto{
    color: blue!important;
}

.enviado_vistocancelado{
    color: red!important;
}

.enviado_vistoaceito{
    color: green!important;
}

.ja_realizado{ /* Encontro já realizado */
    color: #cc00cc!important;
}

.tabela{
    padding: 20px;
}

body {
    background: none repeat scroll 0 0 #e6e9ee;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}