body {
  background: #eee !important; /*cor de fundo cinza*/
}

.principal {
  margin-top: 120px;
  margin-bottom: 120px;
}

.form-login {
  max-width: 400px; /*tamanho maximo*/
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff; /*branco*/
  border: 3px solid rgba(0, 0, 0, 0.1); /*tamnho, variedade, cor*/
}

.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 30px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;  /*nao sei o que faz*/
  -moz-box-sizing: border-box; /*nao sei o que faz*/
  box-sizing: border-box; /*nao sei o que faz*/
}
