<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Bancodeideias</display-name>
    <servlet-mapping>
        <servlet-name>CalendarJsonServlet</servlet-name>
        <url-pattern>/CalendarJsonServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!--CONFIGURAÇÃO DO JSF-->
    <!--Estagio do projeto ( estagio de desenvolvimento, mais facil de aparecer os erros )-->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- 1 quer dizer que ele vai ser carregado quando ligar o glassfish-->
    </servlet>
    <servlet>
        <servlet-name>CalendarJsonServlet</servlet-name>
        <servlet-class>br.com.bancodeideias.controller.CalendarJsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <!--Tipo de arquivo que o jsf vai gerenciar-->
    </servlet-mapping>
    <!--Tema primefaces-->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <listener>
        <listener-class>br.com.bancodeideias.util.SessionListener</listener-class>
    </listener>
    <!-- Filtros -->
    <filter-mapping>
        <filter-name>FiltroAutorizacao</filter-name>
        <url-pattern>/login/login.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSistema</filter-name>
        <url-pattern>/paginas/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FiltroSistema</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroSistema</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroAutorizacao</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroAutorizacao</filter-class>
    </filter>
</web-app>
