<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Bancodeideias</display-name>
    <session-config>
        <session-timeout>120</session-timeout>
        <!-- Definindo tempo para expirar sessão -->
    </session-config>
    <!-- CONFIGURAÇÃO DO JSF -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
        <!-- Estagio do projeto ( estagio de desenvolvimento, mais facil de aparecer os erros )-->
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- 1 quer dizer que ele vai ser carregado quando ligar o glassfish -->
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <!-- Tipo de arquivo que o JSF vai gerenciar -->
    </servlet-mapping>
    <context-param>
        <!-- Tema Primefaces -->
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <listener>
        <!-- Mapeamento do SessionListener, agora sempre que uma sessão for criada ou destruída a classe SessionListener será chamada, pois ela implementa o HttpSessionListener -->
        <listener-class>br.com.bancodeideias.util.SessionListener</listener-class>
    </listener>
    <!-- FILTRO SISTEMA -->
    
    <!-- FILTRO AUTORIZAÇÃO -->
    <filter>
        <!-- TAG que define o nome do nosso filtro através do filter-name e o local onde ele se encontra em nosso projeto através do filter-class -->
        <filter-name>FiltroAutorizacao</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroAutorizacao</filter-class>
    </filter>
    <filter-mapping>
        <!-- TAG responsável por definir qual página o filtro irá monitorar -->
        <filter-name>FiltroAutorizacao</filter-name>
        <url-pattern>/login/login.xhtml</url-pattern>
    </filter-mapping>
    
    <!-- FILTRO ADMIN -->
    <filter>
        <!-- TAG que define o nome do nosso filtro através do filter-name e o local onde ele se encontra em nosso projeto através do filter-class -->
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroAdmin</filter-class>
    </filter>
    <filter-mapping>
        <!-- TAG responsável por definir qual página o filtro irá monitorar -->
        <filter-name>FiltroAdmin</filter-name>
        <url-pattern>/paginas/administrador/*</url-pattern>
    </filter-mapping>
    
    <!-- FILTRO ALUNO -->
    <filter>
        <!-- TAG que define o nome do nosso filtro através do filter-name e o local onde ele se encontra em nosso projeto através do filter-class -->
        <filter-name>FiltroAluno</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroAluno</filter-class>
    </filter>
    <filter-mapping>
        <!-- TAG responsável por definir qual página o filtro irá monitorar -->
        <filter-name>FiltroAluno</filter-name>
        <url-pattern>/paginas/aluno/*</url-pattern>
    </filter-mapping>
    
    <!-- FILTRO COORDENADOR -->
    <filter>
        <!-- TAG que define o nome do nosso filtro através do filter-name e o local onde ele se encontra em nosso projeto através do filter-class -->
        <filter-name>FiltroCoordenador</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroCoordenador</filter-class>
    </filter>
    <filter-mapping>
        <!-- TAG responsável por definir qual página o filtro irá monitorar -->
        <filter-name>FiltroCoordenador</filter-name>
        <url-pattern>/paginas/coordenador/*</url-pattern>
    </filter-mapping>
    
    <!-- FILTRO PROFESSOR -->
    <filter>
        <!-- TAG que define o nome do nosso filtro através do filter-name e o local onde ele se encontra em nosso projeto através do filter-class -->
        <filter-name>FiltroProfessor</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroProfessor</filter-class>
    </filter>
    <filter-mapping>
        <!-- TAG responsável por definir qual página o filtro irá monitorar -->
        <filter-name>FiltroProfessor</filter-name>
        <url-pattern>/paginas/professor/*</url-pattern>
    </filter-mapping>
    
    <!-- FILTRO UNIVERSIDADE -->
    <filter>
        <!-- TAG que define o nome do nosso filtro através do filter-name e o local onde ele se encontra em nosso projeto através do filter-class -->
        <filter-name>FiltroUniversidade</filter-name>
        <filter-class>br.com.bancodeideias.util.FiltroUniversidade</filter-class>
    </filter>
    <filter-mapping>
        <!-- TAG responsável por definir qual página o filtro irá monitorar -->
        <filter-name>FiltroUniversidade</filter-name>
        <url-pattern>/paginas/universidade/*</url-pattern>
    </filter-mapping>
</web-app>
